body {
	position: relative;
}

.navbar {
	position: fixed;
	width: 100%;
	top:0;
	z-index: 9999;
	box-shadow: 2px 2px 10px black, 1px 1px 10px gray;
}

.navbar-brand {
	font-family: "Miss Fajardose", serif;
	font-size: 35px;
	font-weight: 550;
}

.navbar-toggler {
	margin-right: 3rem;
}

.sect {
	height: 100vh;
}

.sec1 {
	background: url("../images/sec1-bg.jpg") no-repeat center center fixed;
	background-size: cover;
	color: white;
	transition: .7s;
}

.parent {
    position: relative;
    
}

.block {
    max-width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;   
}

.block img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: none;
}

.block a {
	max-width: 12em;
	font-weight: bold;
	border:3px solid white;
	border-radius:30px 30px 30px 30px;
	list-style-type: none;
	color: white;
	padding: 1em;
	transition: .5s;
}

.block a:hover {
	color: black;
	background-color: white;
	text-decoration: none;
	animation: bounce 1s 1 alternate;
	transition: .5s;
}

.list-group {
	position: fixed;
	right: 0;
	top: 30%;
	min-height:10em;
	z-index: 9999;
}

.menushka {
	background:none;
	border:none;
	right: -1.33em;
}

.list-group-item:first-child() {
	border-top-right-radius:0px!important;
	border-bottom-right-radius:0px!important;
}
.list-group-item:nth-child(3) {
	border-top-right-radius:0px!important;
	border-bottom-right-radius:0px!important;
	border-bottom-left-radius: 3px;
}

@media screen and (min-width: 992px) {
	.spec-butt {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.spec-butt {
		list-style-type: none;
		position: fixed;
		width: 6em;
		right: -4em;
		top:20%;
		border-radius:3px 0px 0px 3px;
		transition: .6s;
	}
	.menushka {
		right: -100%;
		transition: .6s;
	}
	.spec-butt:focus {
		right: -6em;
	}

	.spec-butt:focus ~ .menushka {
		right: -1.33em;
		transition: .6s;
	}
	.menushka:hover,
	.menushka:focus {
		display: block;
		right: -1.33em;
		transition: .6s;
	}
}

.type1 {
	font-family: "Gloria Halleluah", cursive;
}
.type2 {
	font-family: 'Permanent Marker', cursive;
}
.type3 {
	font-family: "Miss Fajardose", serif;
	font-size: 60px;
}

@media screen and (max-width: 438px) {
	.sec1 h1 {
		font-size: 35px;
		top:35%;
	}
}

@media screen and (min-width: 438px) and (max-width:768px){
	.sec1 h1 {
		font-size: 40px;
		top:23%;
	}
}

.sec2 {
	background-color: white;
	height: 100%;
	z-index: 9999;
}

.sec3 {
	background-color: black;
	height: 100%;
}

.pic-venz {
	max-width: 35%;
}

.col-md-6.first-place {
	order: 1;
	-o-order: 1;
	-moz-order: 1;
	-webkit-order: 1;
	-ms-order: 1;
}
@media screen and (max-width: 768px) {
	.col-md-6.first-place {
		order: 2;
		-o-order: 2;
		-moz-order: 2;
		-webkit-order: 2;
		-ms-order: 2;
	}
	.hid {
		display: none!important;
	}
}

.text-slicer {
	max-width: 65%;
}

.card-title {
	font-weight: bold;
}

.featurette-heading {
	font-size: 30px;
	font-family: "Lora", serif;
	font-weight: bold;
	text-align: center;
}

/*******Befolk Script*******/
@font-face {
	font-family: "Befolk";
	src: url("../fonts/Befolk Script/Befolk Script.otf") format("opentype"), url("fonts/Befolk Script/Befolk Script.ttf") format("trruetype");
}

.befolk {
	font-family: "Befolk";
	font-size: 50px;
}
.befolk.par {
	font-size: 35px;
}

.befolk-link {
	font-family: "Befolk";
}
/*******Befolk Script*******/

/*******Specta Retro Script*******/
@font-face {
	font-family: "Specta Retro Script";
	src: url("../fonts/Specta Retro/Specta Retro Script.otf") format("opentype"),
	url("../fonts/Specta Retro/Specta Retro Script.ttf") format("truetype");
}
/*******Specta Retro Script*******/

.nav-item {
	padding: .5rem 1rem;
}

.down-arrow {
	text-align: center;
}

.down-arrow i {
	position: relative;
	top: 90vh;
	bottom: 0;
	line-height: 1.5em;
	font-size:40px;
	color: white;
	margin-bottom: 2rem;
}

a:hover {
	text-decoration: unset;
}

.navbar-brand {
	font-family: "Specta Retro Script";
	text-shadow: 5px -2px 3px red, -5px 2px 3px blue;
}

.author {
	font-family:"Befolk";
	font-size: 20px;
	color: white;
	min-width: 150px;
	text-align: center;
	font-style:unset;
}
.btn.btn-outline-primary.d-block.mx-auto.mt-3 {
	min-width: 10em;
	max-width: 13em;
}

.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.googleform {
	height: 70vh;
}

.modal {
	z-index: 9999;
}
.quote-img {
	max-width: 100% !important;
	min-height: 100% !important;
	background:url('../images/blank-profile.png') no-repeat cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 1.25em;
	width: 1.25em;
}

.carousel-control-prev,
.carousel-control-next {
	width: 8%;
	transition: .6s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	background-color: rgba(0,0,0, 0.05);
	transition: .6s;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%25f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.panel-thumbnail > .mx-auto.d-block {
	display: inline-flex;
	width: 50px;
}

.carousel-indicators li {
	background-color: gray!important;
}

.carousel-item {
	transition: .6s;
}
/*****************************************footer*****************************************/
.col_white_amrc { 
	color:white;
}

footer { 
	width:100%; 
	min-height:1px;
	height: 100%; 
	padding:10px 0px 25px 0px ;
	z-index: 1000;
	font-family: 'Lora', serif;
}
.pt2 { 
	font-family: 'Lora', serif;
	font-size: 22px;
	padding-top:40px ; 
	margin-bottom:20px ;
}

footer p { 
	font-size:18px; 
	color:white; 
	padding-bottom:0px; 
	margin-bottom:8px;
}

.mb10 { 
	padding-bottom:15px ;
}

.footer_ul_amrc { 
	margin:0px ; 
	list-style-type:none ; 
	font-size:16px; 
	padding:0px 0px 10px 0px ; 
}

.footer_ul_amrc li {
	padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
	color:lightgray;
	transition: .5s;
}

.footer_ul_amrc li a:hover { 
	color:white; 
	text-decoration:none;
	transition: .5s;
}
.fleft { 
	float:left;
}
.padding-right { 
	padding-right:10px; 
}

.footer_ul2_amrc {
	margin:0px; 
	list-style-type:none; 
	padding:0px;
	font-size: 1.3em;
}

.footer_ul2_amrc li p { 
	display:contents; 
	color:lightgray;
}

.footer_ul2_amrc li a {
	color:lightblue;
}

.footer_ul2_amrc li a:hover { 
	text-decoration:underline;
}

.footer_ul2_amrc li i { 
	margin-top:5px;
	color: white;
	transition: .6s;
}

.footer_ul2_amrc li i:hover {
	color:white;
	transition: .6s;
}

.bottom_border { 
	border-bottom:1px solid white; 
	padding-bottom:20px;
}

.mailto_link, .mailto_link a {
	text-decoration: none;
	color:white;
	transition:.5s;
}

.mailto_link:hover, .mailto_link a:hover {
	color:yellow;
	text-decoration: unset;
	transition:.5s;
}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li { 
	display:inline;
}

.foote_bottom_ul_amrc li a { 
	color:white; 
	margin:0 12px;
}

.social_footer_ul { 
	display:table; 
	margin:15px auto 0 auto;
	list-style-type:none;  
	padding: 0;
}

.social_footer_ul li {
	display: inline-block; 
	padding-left:10px;
	padding-right:10px; 
	padding-top:10px; 
	float:left; 
}

.social_footer_ul li i {  
	width:1em; 
	height:1em; 
	text-align:center;
	transition: .6s;
}

.social_footer_ul li a { 
	width: 42px;
	height: 42px;
    line-height: 1.6em;
	color:white; 
	border:1px solid #CCC; 
	padding:8px;
	border-radius:50%;
	transition: .6s;
	display: block;
	margin-bottom: 1em;
	padding-left:12px;
}

.social_footer_ul li a:hover {
	color:white;
	box-shadow: 0 0 20px white;
	transition: .6s;
}

.com-soc li a {
	border:1px solid gray;
	border-radius: 50%;
}

.com-soc li a i {
	color: gray;
}

.com-soc li a:hover {
	box-shadow:0 0 10px black;
}